DEBUG=1
SECRET_KEY=change-me
#POSTGRES
POSTGRES_DB=deepmind
POSTGRES_USER=deepmind_user
POSTGRES_PASSWORD=deepmind_pass
POSTGRES_HOST=db
POSTGRES_PORT=5432
DJANGO_SECRET_KEY=#xp18m#jv$%gno+*vp3e6=t=i^d=^fo1_$j*zr^fm%@kg113jc
DEBUG=True

#OpenAI API Keys
OPENAI_API_KEY=
OPENAI_API_KEY_2=


# --- 👇 Email👇 ---
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=
MAIL_FROM_ADDRESS=